{
	"root": true,
	"extends": [
		"eslint-config-niksy",
		"eslint-config-niksy/typescript",
		"eslint-config-niksy/next",
		"eslint-config-prettier"
	],
	"plugins": ["eslint-plugin-prettier", "eslint-plugin-unicorn"],
	"globals": {
		"globalThis": false
	},
	"rules": {
		"prettier/prettier": 1,
		"camelcase": 0,
		"unicorn/prefer-flat-map": 0
	},
	"overrides": [
		{
			"files": "mock/*.js",
			"env": {
				"browser": true
			}
		},
		{
			"files": ["rollup.config.js"],
			"parserOptions": {
				"sourceType": "script"
			},
			"rules": {
				"no-console": 0
			}
		},
		{
			"files": ["rollup.config.js", "test/index.js"],
			"plugins": ["eslint-plugin-unicorn"],
			"rules": {
				"unicorn/numeric-separators-style": 0
			}
		}
	]
}
